<%= form_for @preinscription, :url => {:action => :show, :id => @preinscription.pensum_id} do |f| %>
  <% if @preinscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preinscription.errors.count, "error") %> prohibited this preinscription from being saved:</h2>

      <ul>
      <% @preinscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :enrolled %><br />
    <%= f.number_field :enrolled %>
  </div>
  <%= hidden_field_tag(:subjectname, @preinscription.subjectname)%>
  <%= hidden_field_tag(:pensum_id, @preinscription.pensum_id)%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
