<h1>Listing preinscriptions</h1>

<table>
  <tr>
    <th>Subjectname</th>
    <th>Enrolled</th>
    <th>Pensum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @preinscriptions.each do |preinscription| %>
  <tr>
    <td><%= Subject.find(preinscription.subject_id).name %></td>
    <td><%= preinscription.enrolled %></td>
    <td><%= preinscription.pensum_id %></td>
    <td><%= link_to 'Show', preinscription %></td>
    <td><%= link_to 'Edit', edit_preinscription_path(preinscription) %></td>
    <td><%= link_to 'Destroy', preinscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Preinscription', new_preinscription_path %>

<br>
-----------------------------------------------------------------------------------------------
<p id="notice"><%= notice %></p>

<h2>Select a pensum</h2>
   <table>

<table>
  <tr>
    <th>Magister</th>
    <th>Start year (Semestre)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

 <% for pensum in Pensum.all %>
  <tr>
    <td><%= Magister.find(pensum.magister_id).code %></td>
    <td><%= pensum.year %>(<%= pensum.semester %>)</td>
    <td><%= link_to 'Show Preinscription', :action => :show, :id => pensum.id %></td>    
  </tr>
<% end %>
</table>

<br />
<%= link_to(image_tag("http://www.aquiles.com.ve/images/back_icon_blue.gif"), "http://localhost:3000/" )%>