<p id="notice"><%= notice %></p>

<%if params[:id]==nil %>
<h1>There are no preinscriptions</h1>
<% end %>

<%if params[:id]!=nil %>
<h2>Subject Preinscriptions</h2>
   <table>
    <tr>
      <th>Subject Name</th>
      <th>Enrolled</th>    
    </tr>
   <% total=0 %>

<% for preinscription in Preinscription.where(:pensum_id=>params[:id]) %>
    
      <% total=total+preinscription.enrolled %>
  <% end %>

 <% for preinscription in Preinscription.where(:pensum_id=>params[:id]) %>
    <tr>
      <td><%= preinscription.subjectname %></td>
      <td><%= preinscription.enrolled %>/<%=total%></td>
      <td><%= link_to 'Show', preinscription %></td>
      <td><%= link_to 'Edit', edit_preinscription_path(preinscription) %></td>
      <td><%= link_to 'Destroy', preinscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
  <% end %>


<%= link_to 'Edit', edit_preinscription_path(@preinscription) %> |
<%= link_to(image_tag("http://www.aquiles.com.ve/images/back_icon_blue.gif"), "http://localhost:3000/subjects/new?id="+params[:id] )%>
