<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Student name<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    ID number<br />
    <%= f.number_field :docid %>
  </div>
  <div class="field">
    Code<br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    Year in<br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    Semester<br />
    <%= f.text_field :semester %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>  
  <%= hidden_field_tag(:sub, "0")%>
<% end %>
