<h1>Editing folder</h1>

<%= render 'form' %>

<% @subjectsNotSeen = Pensum.find(params[:id]).subjects %>

<% for j in @folder.subjects %>
<%   @subjectsNotSeen.delete(j) %>
<% end %> 

<h2>Select Seen Subjects</h2>
<%= form_tag add_folders_path, :url => {:action => :add, :sub => "1"} do %>
<br><select name="mat">
  <% for sub in @subjectsNotSeen do %>
    <option><%=sub.name%></option>
  <% end %>
  </select><br>

  <%= hidden_field_tag(:id, params[:id])%>
  <%= submit_tag 'Add the subject', class:"btn btn-primary"%>
<% end %>

<div class="prueba"> 
<h1>Preinscription</h1>
  
<table>
  <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Credits</th>   
      <th>Capacity</th>    
      <th>Number of blocks</th>
      <th>Enrolled</th>
    </tr>
    
  <%= form_tag increase_folders_path do %>
  <% for subj in @subjectsNotSeen %>
    <% preins = Preinscription.where(:subject_id => subj.id).first %>
    
    <tr>
      <td><%= subj.code %></td>
      <td><%= subj.name %></td>
      <td><%= subj.credits %></td>
      <td><%= subj.capacity %></td>
      <td><%= subj.blocks %></td>

      <td>
        <% if preins.nil? %>
        <%= '0' %>
        <%else%>
        <%= preins.enrolled %>
        <%end%>
      </td>

      <td><%= check_box_tag "subj_ids[]", subj.id  %> </td>

     <%= hidden_field_tag(:id, params[:id])%>
    </tr>     
  <% end %> 

</table>

<%= submit_tag "I'm ready", class:"btn btn-primary" %>
</div>



<div class="actions">
   <%= link_to 'Show', @folder %> |
   <%= link_to "back", pensums_path  %>
</div>
<% end %>

