<h1>Editing folder</h1>

<%= render 'form' %>

<% @subjectsOfThePensum = Pensum.where(:id => @folder.pensum_id).first.subjects %>

<%= puts "******$**************$****************$*************"%>
<%= puts "#{@subjectsOfThePensum.first.name}"%>
<h2>Select Seen Subjects</h2>
<%= form_for @subjectsOfThePensum, :url => {:action => :update, :id => params[:id]} do |f| %>

<%= f.label :name %><br />
<%= f.collection_select(:pensum_id, @subjectsOfThePensum, :name, :name) %>

<div class="prueba"> 
<h1>Preinscription</h1>
  
<table>
  <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Credits</th>   
      <th>Capacity</th>    
      <th>Number of blocks</th>
      <th>Enrolled</th>
    </tr>
    
  <%= form_tag( :method=>"Addpreinscription") %>
  <% for subj in @folder.subjects %>
  <% preins = Preinscription.where(:subject_id => subj.id).first %>
    
    <tr>
      <td><%= subj.code %></td>
      <td><%= subj.name %></td>
      <td><%= subj.credits %></td>
      <td><%= subj.capacity %></td>
      <td><%= subj.blocks %></td>

      <td>
        <% if preins.nil? %>
        <%= '0' %>
        <%else%>
        <%= preins.enrolled %>
        <%end%>
      </td>

      <td><%= check_box_tag "subj_ids[]", subj.id  %> </td>
    </tr>     
  <% end %>  
</table>

<%= submit_tag "Save", class:"btn btn-primary" %>
</div>



<div class="actions">
   <%= f.submit %>
   <%= link_to 'Show', @folder %> |
   <%= link_to "back", pensums_path  %>
</div>
<% end %>

