<h1>Folders</h1>

<table>
  <tr>
    <th>Year</th>
    <th>Code</th>
    <th>Document Id</th>
    <th>Name</th>
    <th>Semester</th>
    <th></th>
    <th></th>
    <th></th>


<% @folders.each do |folder| %>
  <tr>
    <td><%= folder.year %></td>
    <td><%= folder.code %></td>
    <td><%= folder.docid %></td>
    <td><%= folder.name %></td>
    <td><%= folder.semester %></td>
    <td><%= link_to 'Show', folder %></td>
    <td><%= link_to 'Edit', edit_folder_path(folder) %></td>
    <td><%= link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Folder', new_folder_path %>
<a href="http://localhost:3000">Volver</a> 
