<h1>Carpetas de estudiante</h1>

<table>
  <tr>
    <th>Año de ingreso</th>
    <th>Código</th>
    <th>No. Documento</th>
    <th>Nombre</th>
    <th>Semestre</th>
    <th></th>
    <th></th>
    <th></th>


<% @folders.each do |folder| %>
  <tr>
    <td><%= folder.year %></td>
    <td><%= folder.code %></td>
    <td><%= folder.docid %></td>
    <td><%= folder.name %></td>
    <td><%= folder.semester %></td>
    <td><%= link_to 'Ver', folder %></td>
    <td><%= link_to 'Editar', edit_folder_path(folder) %></td>
    <td><%= link_to 'Eliminar', folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva carpeta', new_folder_path %> |
<a href="http://localhost:3000">Volver</a> 
