<h1>Student folders</h1>

<table>
  <tr>
    <th>Code</th>
    <th>ID Number</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>


<% @folders.each do |folder| %>
  <tr>
    <td><%= folder.code %></td>
    <td><%= folder.docid %></td>
    <td><%= folder.name %></td>
    <td><%= link_to 'Show', folder %></td>
    <td><%= link_to 'Edit', edit_folder_path(folder) %></td>
    <td><%= link_to 'Delete', folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'My Preinscription', new_preinscription_path %> |
<%= link_to 'New Folder', new_folder_path %> |
<a href="http://localhost:3000">Back</a> 
