<h1>Listing horarios</h1>

<table>
  <tr>
    <th>Materia</th>
    <th>Dia</th>
    <th>Hora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @horarios.each do |horario| %>
  <tr>
    <td><%= horario.materia %></td>
    <td><%= horario.dia %></td>
    <td><%= horario.hora %></td>
    <td><%= link_to 'Show', horario %></td>
    <td><%= link_to 'Edit', edit_horario_path(horario) %></td>
    <td><%= link_to 'Destroy', horario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>

<table>
  <tr>
    <th>Lunes</th>
    <th>Martes</th>
    <th>Miercoles</th>
    <th>Jueves</th>
    <th>Viernes</th>
    <th>Sabado</th>
  </tr>
 <!--1-8 are the hours of the day--> 
<% for j in 1..8 %>
  <tr> 
    <!--1 being monday and 6 being saturday--> 
    <% for i in 1..6 %>
      <td>
        <% @horarios.each do |horario| %>
          <%if horario.dia == i && horario.hora == j %>
          <%=horario.materia%>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<!--TODO!! is not scheduale but...?--> 
<%= link_to 'New schedule ', new_horario_path %>
