<h1>Listing horarios</h1>

<table>
  <tr>
    <th>Materia</th>
    <th>Dia</th>
    <th>Hora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @horarios.each do |horario| %>
  <tr>
    <td><%= horario.materia %></td>
    <td><%= horario.dia %></td>
    <td><%= horario.hora %></td>
    <td><%= link_to 'Show', horario %></td>
    <td><%= link_to 'Edit', edit_horario_path(horario) %></td>
    <td><%= link_to 'Destroy', horario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<table>
  <tr>
    <th>Lunes</th>
    <th>Martes</th>
    <th>Miercoles</th>
    <th>Jueves</th>
    <th>Viernes</th>
    <th>Sabado</th>
  </tr>
  <tr>

    
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 1 && horario.hora == 1 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 2 && horario.hora == 1 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 3 && horario.hora == 1 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 4 && horario.hora == 1 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 5 && horario.hora == 1 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 6 && horario.hora == 1 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 7 && horario.hora == 1 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
  </tr>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 1 && horario.hora == 2 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 2 && horario.hora == 2 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 3 && horario.hora == 2 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 4 && horario.hora == 2 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 5 && horario.hora == 2 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 6 && horario.hora == 2 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 7 && horario.hora == 2 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
  <tr>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 1 && horario.hora == 3 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 2 && horario.hora == 3 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 3 && horario.hora == 3 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 4 && horario.hora == 3 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 5 && horario.hora == 3 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 6 && horario.hora == 3 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 7 && horario.hora == 3 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
  </tr>
  <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 1 && horario.hora == 4 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 2 && horario.hora == 4 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 3 && horario.hora == 4 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 4 && horario.hora == 4 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 5 && horario.hora == 4 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 6 && horario.hora == 4 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 7 && horario.hora == 4 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
  <tr>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 1 && horario.hora == 5 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 2 && horario.hora == 5 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 3 && horario.hora == 5 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 4 && horario.hora == 5 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 5 && horario.hora == 5 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 6 && horario.hora == 5 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 7 && horario.hora == 5 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 1 && horario.hora == 6 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 2 && horario.hora == 6 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 3 && horario.hora == 6 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 4 && horario.hora == 6 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 5 && horario.hora == 6 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 6 && horario.hora == 6 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 7 && horario.hora == 6 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 1 && horario.hora == 7 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 2 && horario.hora == 7 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 3 && horario.hora == 7 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 4 && horario.hora == 7 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 5 && horario.hora == 7 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 6 && horario.hora == 7 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 7 && horario.hora == 7 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
  </tr>
  <tr>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 1 && horario.hora == 8 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 2 && horario.hora == 8 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 3 && horario.hora == 8 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 4 && horario.hora == 8 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 5 && horario.hora == 8 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 6 && horario.hora == 8 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
    <td>
    <% @horarios.each do |horario| %>
      <%if horario.dia == 7 && horario.hora == 8 %>
      <%=horario.materia%>
      <% end %>
    <% end %>
    </td>
  </tr>
</table>

<br />

<%= link_to 'New Horario', new_horario_path %>
