<h2>Sections</h2>
   <table>
    <tr>

      <th>Subject Code </th>
      <th>Day</th>
      <th>Hour</th>
      <th>Definitive</th>
           
    </tr>
  
  <% for section in Pensum.find(params[:id]).sections %>
    <tr>
      <td><%= section.subject_id %></td>
      <%l= section.day %>
      <% if l==1 %>
                <td>  <%="Monday" %></td>
                <% end %>
                <% if l==2 %>
                 <td> <%="Tuesday" %></td>
                <% end %>
                <% if l==3 %>
                 <td> <%="Wednesday" %></td>
                <% end %>
                <% if l==4 %>
                 <td> <%="Thursday" %></td>
                <% end %>
                <% if l==5 %>
                 <td> <%="Friday" %></td>
                <% end %>
                <% if l==6 %>
                  <td><%="Saturday" %></td>
                <% end %>

      <%k= section.hour %>
      <% if k==1 %>
                <td>  <%="07:00 - 08:20" %></td>
                <% end %>
                <% if k==2 %>
                 <td> <%="08:30 - 09:50" %></td>
                <% end %>
                <% if k==3 %>
                 <td> <%="10:00 - 11:20" %></td>
                <% end %>
                <% if k==4 %>
                 <td> <%="11:30 - 12:50" %></td>
                <% end %>
                <% if k==5 %>
                 <td> <%="14:00 - 15:20" %></td>
                <% end %>
                <% if k==6 %>
                  <td><%="15:30 - 16:50" %></td>
                <% end %>
                <% if k==7 %>
                  <td><%="17:00 - 18:20" %></td>
                <% end %>
                <% if k==8 %>
                  <td><%="18:30 - 19:50" %></td>
                <% end %>


      <%if section.provisional == 0%>
      <td><%= "Yes"%></td>
      <%end%>

<%if section.provisional == 1%>
      <td><%= "No"%></td>
      <%end%>
      
      <td><%= link_to 'Show', section %></td>
      <td><%= link_to 'Edit', edit_section_path(section) %></td>
      <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>


<% numE = 0%>
<% numM = 0%>
<% for subject in Pensum.find(params[:id]).subjects %>
  <% nB = subject.blocks%>
  <% sid = subject.code%>
  <% numSec = 0%>
  <% for section in Pensum.find(params[:id]).sections %>
    <% if section.subject_id == sid && section.provisional == 0%>
      <% numSec = numSec + 1%>
    <% end %>
  <% end %>
  <% if numSec >= nB%>
    <% numE = numE + subject.capacity%>
    <% numM = numM + 1%>
  <% end %>
<% end %>
<h2>Number of Students</h2>
<%= numE%>
<h2>Number of Subjects</h2>
<%= numM%>
<h2>Student Subjects Rate</h2>
 <%if numM!=0 %>
<%= numE/numM%>
 <% end %>


<h2>Schedule</h2>
  <table>
    <tr>
      <th>Hour</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <!--1-8 are the hours of the day--> 
    <% for j in 1..8 %>
      <tr> 
        <!--1 being monday and 6 being saturday--> 
        <% for i in 0..6 %>
          <td>
              <%if i==0 %>
                <% if j==1 %>
                  <%="07:00 - 08:20" %>
                <% end %>
                <% if j==2 %>
                  <%="08:30 - 09:50" %>
                <% end %>
                <% if j==3 %>
                  <%="10:00 - 11:20" %>
                <% end %>
                <% if j==4 %>
                  <%="11:30 - 12:50" %>
                <% end %>
                <% if j==5 %>
                  <%="14:00 - 15:20" %>
                <% end %>
                <% if j==6 %>
                  <%="15:30 - 16:50" %>
                <% end %>
                <% if j==7 %>
                  <%="17:00 - 18:20" %>
                <% end %>
                <% if j==8 %>
                  <%="18:30 - 19:50" %>
                <% end %>
              <% end %>
            <% for section in Pensum.find(params[:id]).sections %>
              <%if section.day == i && section.hour == j && section.provisional == 0%>
              
              <%= link_to section.subject_id, section %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

<h2>Add Section</h2>
<%= form_for @section, :url => {:action => :create, :id => Pensum.find(params[:id]).id} do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :day %><br />
    
    <%= f.select :day, options_for_select([["Monday", 1], ["Tuesday", 2], ["Wednesday", 3], ["Thursday", 4], ["Friday", 5],["Saturday", 6] ]) %>
  </div>


  <div class="field">
    <%= f.label :hour %><br />
    <%= f.select :hour, options_for_select([["07:00 - 08:20", 1], ["08:30 - 09:50", 2], ["10:00 - 11:20", 3], ["11:30 - 12:50", 4], ["14:00 - 15:20", 5], ["15:30 - 16:50", 6], ["17:00 - 18:30", 7], ["18:30 - 19:50", 8] ]) %>

    <%= f.label :subject_id %><br />
    <%= f.collection_select :subject_id, Subject.where(:pensum_id => params[:id]), :code, :code %>


  <div class="field">
    <%= f.label :Definitive %><br />
    <%= f.select :provisional, options_for_select([["Yes", 0], ["No", 1]]) %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
   </div>
<% end %>

 <%= button_to("Optimize", {:controller => :sections, :action => :create, :id => -1, :pensum_id => params[:id]})%>
 <%= link_to(image_tag("http://www.aquiles.com.ve/images/back_icon_blue.gif"),"http://localhost:3000/subjects/new?id="+params[:id].to_s  )%>

 <%= button_to("Cargar secciones", {:controller => :sections, :action => :create, :id => -2, :pensum_id => params[:id]})%>


