<h1>Manage pensum schedule</h2>
<h2>Schedule</h2>
  <table>
    <tr>
      <th>Hour</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    <!--1-8 are the hours of the day--> 
    <% for j in 1..8 %>
      <tr> 
        <!--1 being monday and 6 being saturday--> 
        <% for i in 0..6 %>
          <td>
              <%if i==0 %>
                <% if j==1 %>
                  <%="07:00 - 08:20" %>
                <% end %>
                <% if j==2 %>
                  <%="08:30 - 09:50" %>
                <% end %>
                <% if j==3 %>
                  <%="10:00 - 11:20" %>
                <% end %>
                <% if j==4 %>
                  <%="11:30 - 12:50" %>
                <% end %>
                <% if j==5 %>
                  <%="14:00 - 15:20" %>
                <% end %>
                <% if j==6 %>
                  <%="15:30 - 16:50" %>
                <% end %>
                <% if j==7 %>
                  <%="17:00 - 18:20" %>
                <% end %>
                <% if j==8 %>
                  <%="18:30 - 19:50" %>
                <% end %>
              <% end %>
            <% for section in Pensum.find(params[:id]).sections %>
              <%if section.day == i && section.hour == j %>
              <%=section.subject_id%>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

<script>

function togOptimize()
{
  var op = document.getElementById("optimize");
    if (op.hidden)
      op.hidden = ''
    else
      op.hidden = 'hidden'
}
</script>

<a href="javascript:togOptimize();"><h2>Optimize my Schedule</h2></a>
<div id="optimize" hidden>

<script>
  function toggle1()
  {
    var ns = document.getElementById("optimice");
    if (ns.hidden)
      ns.hidden = ''
    else
      ns.hidden = 'hidden'
  }

  function toggle2()
  {
    var ns2 = document.getElementById("show");
    if (ns2.hidden)
      ns2.hidden = ''
    else
      ns2.hidden = 'hidden'
  }
</script>


<%= form_tag try_sections_path  do %>
  Select an objective<br><select name="ObFunction">
   <option value="1">Optimice the capacity (Max capacity of the pensum) </option>
   <option value="2">Minimize over-capacity (Min number of students without room) </option>
  </select><br>
  Select the maximum number of class at the same time<br><select name="Cross">
  <% i = 1 %>
  <% for subject in Pensum.find(params[:id]).subjects %>
    <%if i == 1%>
      <option value="1">No classes at the same time</option>
    <%elsif i > 1%>
      <option value= <%=i%>> <%= i %> </option>
    <% end %>
    <% i = i +1%>
  <% end %>
  <option value= i >Unrestricted (<%= i %>)</option>
  </select><br>
  <%= submit_tag 'Optimize'%>
  <%= hidden_field_tag(:pensum_id, params[:id])%>
<% end %>
</div>


<hr>

<h2>Possible times</h2>
   <table>
    <tr>

      <th>Subject Code </th>
      <th>Day</th>
      <th>Hour</th>
      <th>Definitive</th>
           
    </tr>
  
  <% for section in Pensum.find(params[:id]).sections %>
    <tr>
      <td><%= section.subject_id %></td>
      <%  day = ""
          case section.day
          when 1
            day = "Monday"
          when 2
            day = "Tuesday"
          when 3
            day = "Wednesday"
          when 4
            day = "Thursday"
          when 5
            day = "Friday"
          when 6
            day = "Saturday"
          end %>
      <td><%= day %></td>

      <%  hour = ""
          case section.hour
          when 1
            hour = "07:00 - 08:20"
          when 2
            hour = "08:30 - 09:50"
          when 3
            hour = "10:00 - 11:20"
          when 4
            hour = "11:30 - 12:50"
          when 5
            hour = "14:00 - 15:20"
          when 6
            hour = "15:30 - 16:50"
          when 7
            hour = "17:00 - 18:20"
          when 8
            hour = "18:30 - 19:50"
          end
           %>
      <td><%= hour %></td>

      <td><%= case section.provisional 
              when 1 
                "No"
              when 0
                "Yes" 
              end %></td>
      
      <td><%= link_to 'Show', section %></td>
      <td><%= link_to 'Edit', edit_section_path(section) %></td>
      <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

<hr>

<script>
function togAddSection()
{
  var as = document.getElementById("addSection");
    if (as.hidden)
      as.hidden = ''
    else
      as.hidden = 'hidden'
}
</script>

<a href="javascript:togAddSection();"><h2>Add possible time</h2></a>
<div id="addSection" hidden>
<%= form_for @section, :url => {:action => :create, :id => Pensum.find(params[:id]).id} do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :day %><br />
    
    <%= f.select :day, options_for_select([["Monday", 1], ["Tuesday", 2], ["Wednesday", 3], ["Thursday", 4], ["Friday", 5],["Saturday", 6] ]) %>
  </div>


     
      

  <div class="field">
    <%= f.label :hour %><br />
    <%= f.select :hour, options_for_select([["07:00 - 08:20", 1], ["08:30 - 09:50", 2], ["10:00 - 11:20", 3], ["11:30 - 12:50", 4], ["14:00 - 15:20", 5], ["15:30 - 16:50", 6], ["17:00 - 18:30", 7], ["18:30 - 19:50", 8] ]) %>

    <%= f.label :subject_id %><br />
    <%= f.collection_select :subject_id, Subject.where(:pensum_id => params[:id]), :code, :code %>


  <div class="field">
    <%= f.label "Definitive" %><br />
    <%= f.select :provisional, options_for_select([["Yes", "Si"], ["No", "No"]]) %>
  </div>         
  <div class="actions">
    <%= f.submit %>
    <td><%= link_to 'Back', :controller => :subjects, :action => :new, :id => params[:id] %></td>
  </div>
<% end %>

<script>
function togMassiveLoad()
{
  var ml = document.getElementById("massiveLoad");
    if (ml.hidden)
      ml.hidden = ''
    else
      ml.hidden = 'hidden'
}
</script>

<a href="javascript:togMassiveLoad();"><h3>Massive load</h3></a>
<div id="massiveLoad" hidden>
<h4>Choose the CVS file you want to import</h4>
<h6>Un ejemplo está en './files/sections_load.csv'</h6>
<%= form_tag({:action => :create, :id => -2, :pensum_id => params[:id]}, :multipart => true) do %>
  <%= file_field_tag 'CSV' %><br>
  <%= submit_tag("Load sections") %>
<% end %>
</div>

</div>



<%= link_to(image_tag("http://www.aquiles.com.ve/images/back_icon_blue.gif"), :controller => :subjects, :action => :new, :id => params[:id])%>

