<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @section.day %>
</p>

<p>
  <b>Hour:</b>
  <%= @section.hour %>
</p>

<p>
  <b>Pensum:</b>
  <%= @section.pensum_id %>
</p>

<p>
  <b>Subject:</b>
  <%= @section.subject_id %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
