<h1>Listing subjects</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Credits</th>
    <th>Folder</th>
    <th>Pensum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.code %></td>
    <td><%= subject.name %></td>
    <td><%= subject.credits %></td>
    <td><%= subject.folder_id %></td>
    <td><%= subject.pensum_id %></td>
    <td><%= link_to 'Show', subject %></td>
    <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
    <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <!--<td><%= link_to 'Add to pensum', subjects%></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subject', new_subject_path %>
