<h1>Pensum</h1>
<p>
  <b>Magister:</b>
  <%= @pensum.magister_id %>
</p>
<p>
  <b>Year:</b>
  <%= @pensum.year %>
</p>
<p>
  <b>Semester:</b>
  <%= @pensum.semester %>
</p>

<h2>Subjects</h2>
   <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Credits</th>   
      <th>Capacity</th>    
      <th>Number of blocks</th>    
    </tr>
  
  <% for subject in Pensum.find(params[:id]).subjects %>
    <tr>
      <td><%= subject.code %></td>
      <td><%= subject.name %></td>
      <td><%= subject.credits %></td>
      <td><%= subject.capacity %></td>
      <td><%= subject.blocks %></td>
      <td><%= link_to 'Show', subject %></td>
      <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
      <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

<h2>Add subject</h2>
<%= form_for @subject, :url => {:action => :create, :id => @pensum.id} do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :credits %><br />
    <%= f.text_field :credits %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :blocks %><br />
    <%= f.text_field :blocks %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to(image_tag("http://www.aquiles.com.ve/images/back_icon_blue.gif"), pensums_path)%>
    
  </div>
<% end %>





    
    <%= link_to(image_tag("http://www.ellipsistech.com/NSS8_files/icon_lesson_timer.gif"), :controller => :sections, :action => :new, :id => @pensum.id )%>