<h1>Pensum</h1>
<p>
  <b>Magister:</b>
  <%= Magister.find(@pensum.magister_id).code %>
</p>
<p>
  <b>Semester:</b>
  <%= @pensum.year %> - <%= @pensum.semester %>
</p>

<h2>Subjects</h2>
   <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Credits</th>   
      <th>Capacity</th>    
      <th>Presential hours</th>    
    </tr>
  
  <% for subject in Pensum.find(params[:id]).subjects %>
    <tr>
      <td><%= subject.code %></td>
      <td><%= subject.name %></td>
      <td><%= subject.credits %></td>
      <td><%= subject.capacity %></td>
      <td><%= subject.blocks %></td>
      <td><%= link_to 'Show', subject %></td>
      <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
      <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

<script>
  function toggle()
  {
    var ns = document.getElementById("newSubject");
    if (ns.hidden)
      ns.hidden = ''
    else
      ns.hidden = 'hidden'
  }
</script>

<a href="javascript:toggle();"><h2>Add subject</h2></a>
<div id='newSubject' hidden>
<%= form_for @subject, :url => {:action => :create, :id => @pensum.id} do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.err@preinscriptioors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :credits %><br />
    <%= f.text_field :credits %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label "Presential hours" %><br />
    <%= f.text_field :blocks %>
  </div>
  <div class="actions">
    <%= f.submit %>    
  </div>
    <%m = Date.current().month%>
    <%if m <= 6%>
      <%= hidden_field_tag(:date, Date.current().year.to_s + '-1')%>
    <%else%>
      <%= hidden_field_tag(:date, Date.current().year.to_s + '-2')%>
    <%end%>
    <%= hidden_field_tag(:enrolled, "0")%>
<% end %>
</div>

<h2>Manage the pensum schedule</h2>
<%= link_to(image_tag("http://www.ellipsistech.com/NSS8_files/icon_lesson_timer.gif"), :controller => :sections, :action => :new, :id => @pensum.id )%>

<h2><%= link_to "Preinscriptions", :controller => :preinscriptions,:action => :show, :id => @pensum.id%></h2>

<br>
<%= link_to(image_tag("http://www.aquiles.com.ve/images/back_icon_blue.gif"), pensums_path)%>





    
    