<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @subject.code %>
</p>

<p>
  <b>Name:</b>
  <%= @subject.name %>
</p>

<p>
  <b>Credits:</b>
  <%= @subject.credits %>
</p>

<p>
  <b>Credits:</b>
  <%= @subject.capacity %>
</p>
<p>
  <b>Number of blocks:</b>
  <%= @subject.blocks %>
</p>


<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', pensum_path %>
