<h1>Pensums</h1>

<table>
  <tr>
    <th>Start year</th>
    <th>Semester</th>
    <th>Magister</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pensums.each do |pensum| %>
  <tr>
    <td><%= pensum.year %></td>
    <td><%= pensum.semester %></td>
    <td><%= pensum.magister_id %></td>
    <td><%= link_to 'Show', :controller => :subjects, :action => :new, :id => pensum.id %></td>
    <td><%= link_to 'Edit', edit_pensum_path(pensum) %></td>
    <td><%= link_to 'Delete', pensum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pensum', new_pensum_path %> |
<%= link_to(image_tag("http://www.aquiles.com.ve/images/back_icon_blue.gif"),"http://localhost:3000") %>
