<!DOCTYPE html>
<html>
<head>
  <title>Cr2</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  h1
  {
    padding-bottom: 30px;
  }
  td, th
  {
    padding-right: 20px;
  }
  nav li
  {
    font-size: 20px;
  }
  </style>
</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
       <nav>
          <ul class="nav pull-left">
            <li class="home"><%= link_to "Coordinator",    '/' %></li>
          </ul>
       </nav>
    </div>
  </div>
</header>
<div class="container">
  <div class="center hero-unit">
<%= yield %>
  </div>
<p>Powered by REVISALO</p>
</div>
</body>
</html>
